@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}
.brand-name{
    display: flex;
}
.dot{
    color: #FFAB76;
    margin-left: 0px;
}

a{
    color: white;
}

.nav-link {
    color: whitesmoke;
}



body{
    font-family: "Inter",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body);
    line-height: 1.8;
    background-color: var(--bg1);  
}

h1,h2,h3,h4,h5,h6{
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    color: white;

}   
a{
    color: var(--body);
    text-decoration: none;
}
a:hover{
    color: var(--brand);
}
.link-more{
    display:  flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;
    left: 1px;
    text-transform: uppercase;
   

}
.link-more .icon{
    transition: all 0.4s ease !important;
}
.link-more:hover .icon{
    transform: translateX(8px) !important;
    
}




img{
    width: 100%;
}
.hair-image{
    cursor: pointer;
}


section{
    padding-top: 160px;
    padding-bottom: 160px;
}




/* intro */
.intro{
    margin-bottom: 60px;
    
}
.intro h1{
    margin-top:16px;
    margin-bottom:24px ;
    text-align: center;
}
.intro h6{
    text-align: center;
    color: var(--brand);
}
.intro p{
    text-align: center;
    max-width: 450px;
    margin: auto;
}

                                                   /* home */
 .navbar{
    background: linear-gradient(to bottom,#1B1F34,  rgba(27, 31, 52, 0.1))
 }




.hero{
    background: linear-gradient(to right,#1B1F34,  rgba(27, 31, 52, 0.0)) ,url("../img/cover_1.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
}
.hero p{
    margin-top: 24px;
    margin-bottom: 24px;
}

.navbar-brand{
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}
                                  /* buttons */

.btn{
    padding: 16px 36px;
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.4s;
    border-radius: 0px;

}
.btn-brand{
    background-color: var(--brand);

}
.btn-brand:hover{
    background-color:transparent;
    color: var(--brand);
    border-color: var(--brand) ;
}
.btn-outline-brand{
    background-color:transparent;
    color: var(--brand);
    border-color: var(--brand) ;
}
.btn-outline-brand:hover{
    background-color: var(--brand);

}




/* About Section */
.about{
    position: relative;
    /* padding-bottom: 100px; */
    /* background-color: var(--bg1); */

}
.first-image{
    cursor: pointer;
}



.about::after{
    content: "";
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--brand);
    z-index: -1;

}
.about h6{
    margin-top: 16px;
    margin-bottom: 24px;
    color: var(--brand);
}
.col-lg-5{
    padding-left: 8rem;
}
.signature{
    width: unset;
}





/* Services */


.service-image{
    width: 370px;
    cursor: pointer;
}
.services .servicess .content{
    padding: 32px;
}
.cta-btns{
    text-align: center;
    margin-top: 60px;
}




/* MILESTONE */

.milestone{
    background: linear-gradient(to right,rgb(27, 31, 52, 0.8),  rgb(27, 31, 52, 0.8)) ,url("../img/cover_2.jpg");
    min-height: 80vh;
    background-position: center;
    background-size: cover;
}
.milestone h1{
    color: var(--brand);
    margin-top: 250px;
}





/* FEATURES */
.features{
    background-color: var(--bg1);
}
.feature{
    display: flex;
}
.icon-features{
    font-size: 36px;
    color: var(--brand);
    line-height: 1;
    margin-right: 16px;
}
.icon-feature p{
    margin-top:16px ;
    margin-bottom:16px ;
    font-size: 14px;
}





/* SOCIAL LINKS */

.social-links a{
    width: 48px;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: var(--bg2);
    align-items: center;
    transition: ease-in-out 0.4s;
    
}
.social-links a:hover{
    background-color: var(--brand);
    color: var(--bg2);  
}





/* TEAM MEMBER*/

.team{
    background-color: var(--bg2);
}
.team-member{
    position: relative;
}
.team-member .social-links{
    position: absolute;
    top: 0px;
    right: 30px;
    opacity: 0;
    transition: ease-in-out 0.4s;
}
.team-member:hover .social-links{
    opacity: 1;
    top: 30px;
}






/* REVIEWS */
.reviews{
    background-color: var(--bg1);
}


 /* REVIEW */
.reviews{
    background-color: var(--bg1);
}
.review img{
    width: 60px;
    border-radius: 100px;
    
}
.review .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand);
    color: var(--bg1);
    width: 42px;
    height: 42px;
    border-radius: 100px;
    position: absolute;
    right: 32px;
}


.review{
    position: relative;
    padding: 32px;
    background-color: var(--bg2);
}

/* REVIEW POST */
.blog{
    background-color: var(--bg2);
}
.blog-post{
    position: relative;
}

.blog-post .date{
    width: 100px;
    height: 100px;
    background-color: var(--brand);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 30px;
}

.blog-post .day{
    font-size: 32px;
    line-height: 1;
    font-family: "Dela Gothic One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    color: var(--bg1);
}
.blog-post .year{
    color: var(--bg1);
}

/* BOOKING */
.booking{
    background: linear-gradient(to right,rgb(27, 31, 52, 0.8),  rgb(27, 31, 52, 0.8)) ,url("../img/cover_2.jpg");
    min-height: 80vh;
    background-position: center;
    background-size: cover;


}
.booking form{
    background-color: var(--bg1);
    padding: 32px;
}
.booking form .form-control{
    background-color: var(--bg2);
    border-radius: 0;
    margin-top: 12px;
    border-color: var(--bg2);
    border: 2px solid var(--bg2);
    color: var(--body);
}
.booking form input{
    height: 58px;
}
.booking form .form-control:focus{
    box-shadow: none;
    border-left-color: var(--brand);
}

/* FOOTER */
footer{
    padding-top: 160px;
}

footer .social-links{
    display: flex;
}

footer .social-links a{
    margin-right: 5px;
}
.footer-top{
    padding-bottom: 30px;
}

.footer.bottom{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid var(--bg2);
}




